################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/city-sim-game/bin/Debug
/city-sim-game/obj/Debug
/.vs/city-sim-game/v15
